.Contact {
  background: #181818;
  height: 100px;
  display: flex;
  align-items: center;
}

.Contact .ContactIcons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Contact .ContactIcons svg path {
  cursor: pointer;
}

